* {
  font-family: Arial, Helvetica, sans-serif;
}

.wr-site .ct {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.wr-site .pg {
  margin-top: 70px;
}

@media only screen and (max-width: 768px) {
  .wr-site .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

.wr-site .main header .ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
                nav {
                    width: 100%;
                    height: 100%;
                    height: 100%;

                    ul {
                        display: flex;
                        justify-content: flex-end;

                        li {
                            padding-right: 20px;

                            a {
                                text-decoration: none;
                                color: black;

                                &:hover {
                                    text-decoration: underline;
                                    transition: all 0.5s ease;
                                    color: pink;
                                }
                            }
                        }
                    }
                }
                */
}

.wr-site .main header .ct .logo img {
  width: 100%;
}

.wr-site .main header nav {
  background: #343a40;
  height: 56px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wr-site .main header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wr-site .main header nav ul li a {
  color: #fff;
  padding-right: 40px;
  text-decoration: none;
}

.wr-site .main header nav ul li a:hover {
  text-decoration: underline;
}

.wr-site .main .pg-home .carrocel img {
  width: 100%;
}

.wr-site .main .pg-home .coarse-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .wr-site .main .pg-home .coarse-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wr-site .main .pg-home .coarse-main .collCard {
  width: 33.333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .wr-site .main .pg-home .coarse-main .collCard {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.wr-site .main .pg-home .coarse-main .collCard h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #5a5a5a;
}

.wr-site .main .pg-home .coarse-main .collCard p {
  line-height: 21px;
  margin-right: .75rem;
  margin-left: .75rem;
}

.wr-site .main .pg-home .coarse-main .collCard .btn-call-card {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wr-site .main .pg-home .coarse-main .collCard .btn-call-card:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.wr-site .main .pg-home .coarse-main .collCard .btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.wr-site .main .pg-home .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wr-site .main .pg-home .content .bx-about,
.wr-site .main .pg-home .content .bx-about-publicity {
  width: 50%;
  margin-top: 20px;
}

.wr-site .main .pg-home .content .bx-about .bx-summary h2 {
  font-size: 16px;
  margin: 20px;
  font-weight: bold;
}

.wr-site .main .pg-home .content .bx-about .bx-summary p {
  margin: 20px;
  line-height: 21px;
}

.wr-site .main .pg-home .content .bx-about-publicity .bx-summary-publicity h2 {
  font-size: 16px;
  margin: 20px;
  font-weight: bold;
}

.wr-site .main .pg-home .content .bx-about-publicity .bx-summary-publicity img {
  width: 100%;
}

.wr-site footer {
  border-top: 1px solid #e5e5e5;
  padding: 50px;
}

.wr-site footer .wr-footer p {
  font-family: arial;
}

.wr-site footer .wr-footer p a {
  color: blue;
  text-decoration: none;
}

.wr-site footer .wr-footer .float-right {
  float: right;
}

@media (max-width: 1000px) {
  .wr-site .main .pg-home .carrocel img {
    height: 250px;
  }
  .wr-site .main .pg-home .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wr-site .main .pg-home .content .bx-about,
  .wr-site .main .pg-home .content .bx-about-publicity {
    width: 99%;
  }
}
/*# sourceMappingURL=style.css.map */