* {
    font-family: Arial, Helvetica, sans-serif;
}

.wr-site {
    .ct {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .pg {
        margin-top: 70px;
    }

    .pg-leaning {
        padding-top: 56px;
    }

    .container {
        @media only screen and (max-width : 768px) {
            max-width: 540px;
            margin: 0 auto;
        }
    }

    .main {
        header {
            .ct {
                display: flex;
                align-items: center;

                .logo {
                    img {
                        width: 100%;
                    }
                }

            }

            nav {
                background: #343a40;
                height: 56px;
                width: 100%;
                position: fixed;
                display: flex;
                top: 0;


                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        a {
                            color: #fff;
                            padding-right: 40px;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

        }

        .pg-home {
            .carrocel {
                img {
                    width: 100%;
                }
            }

            .coarse-main {
                //box-shadow: 2px 2px 2px #f5f5f5;
                display: flex;

                @media only screen and (max-width : 768px) {
                    flex-direction: column;
                    align-items: center;
                }

                .collCard {
                    width: 33.333333%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    //max-width: 540px;

                    @media only screen and (max-width : 768px) {
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                    }

                    h2 {
                        font-size: 2rem;
                        font-weight: 400;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        color: #5a5a5a;
                    }

                    p {
                        line-height: 21px;
                        margin-right: .75rem;
                        margin-left: .75rem;
                    }


                    .btn-call-card {
                        text-decoration: none;
                        display: inline-block;
                        font-weight: 400;
                        color: #212529;
                        text-align: center;
                        border: 1px solid transparent;
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        border-radius: .25rem;
                        margin-top: 20px;
                        margin-bottom: 20px;

                        &:hover {
                            color: #fff;
                            background-color: #5a6268;
                            border-color: #545b62;
                        }
                    }

                    .btn-secondary {
                        color: #fff;
                        background-color: #6c757d;
                        border-color: #6c757d;
                    }
                }
            }

            .content {
                display: flex;

                .bx-about,
                .bx-about-publicity {
                    width: 50%;
                    margin-top: 20px;
                }

                .bx-about {
                    .bx-summary {
                        h2 {
                            font-size: 16px;
                            margin: 20px;
                            font-weight: bold;
                        }

                        p {
                            margin: 20px;
                            line-height: 21px;
                        }
                    }
                }

                .bx-about-publicity {
                    .bx-summary-publicity {
                        h2 {
                            font-size: 16px;
                            margin: 20px;
                            font-weight: bold;
                        }

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        /* page details */
        .pg-details {
            background: #f8f9fa;

            .carrocelDetails {
                background: #fff;
                height: 408px;
                display: flex;
                align-items: center;
                text-align: center;

                h1 {
                    font-size: 2.5rem;
                    color:#212529;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 17px;
                    font-weight: 300;
                    color: #6c757d!important;
                    line-height: 26px;
                    max-width: 610px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }

                .buttonsCarrocel {
                    display: flex;
                    justify-content: center;

                    a {
                        color: #fff;
                        background-color: #007bff;
                        border-color: #007bff;
                        width: 152px;
                        height: 38px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        border-radius: 5px;
                        margin-right: 20px;

                        &:hover {
                            color: #fff;
                            background-color: #0069d9;
                            border-color: #0062cc;
                        }

                        &:last-child {
                            background: #6c757d;

                            &:hover {
                                color: #fff;
                                background-color: #5a6268;
                                border-color: #545b62;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        border-top: 1px solid #e5e5e5;
        padding: 50px;

        .wr-footer {
            p {
                font-family: arial;

                a {
                    color: blue;
                    text-decoration: none;
                }
            }

            .float-right {
                float: right;
            }
        }
    }
}

//@media (min-width: 320px) and (max-width: 1000px) {

@media (max-width: 1000px) {
    .wr-site {
        .main {
            .pg-home {
                .carrocel {
                    img {
                        height: 250px;
                    }
                }

                .content {
                    flex-direction: column;

                    .bx-about,
                    .bx-about-publicity {
                        width: 99%;
                    }
                }
            }
        }
    }
}