//VARIABLES

// ----------------------------------------------------------------------
// MEDIA QUERYS
// ----------------------------------------------------------------------
//tablet
$mq_tablet_min: 320px;
$mq_tablet_max: 768px;

//mobile
$mq_mobile_min: 320px;
$mq_mobile_max: 480px;

// ----------------------------------------------------------------------
// COLORS
// ----------------------------------------------------------------------

//defalts
$color_first: #660099;
$color_second: #8dc64d;
$color_third: #5724a3;
$color_fourth: #762999;
$color_fifth: #ca62fd;
$color_sixth: #f5e9fb;
$color_seventh: #e0e0e0;

//text
$color_text: #999999;

//bg
$color_background: #f6f6f6;

// ----------------------------------------------------------------------
// PATHS
// ----------------------------------------------------------------------
$path_img: "../images";

// ----------------------------------------------------------------------
// FONTS
// ----------------------------------------------------------------------
$font_first: "Officina Serif OS ITC TT Book";
$font_first_bold: "Officina Serif OS ITC TT Bold";

$font_second: "MyriadPro-Regular";
$font_second_bold: "MyriadPro-Bold";

$font_third: "Trebuchet MS 2";
$font_third_bold: "Trebuchet_MS_Bold_2";

$font_fourth: "";

// ----------------------------------------------------------------------
// H1, H2, H3
// ----------------------------------------------------------------------

//H1
$h1_font: 30px $font_first_bold;
$h1_color: $color_first;
$h1_text_transform: uppercase;

//H2
$h2_font: 30px $font_first_bold;
$h2_color: #fff;
$h2_text_transform: normal;

//H3
$h3_font: 26px $font_first_bold;
$h3_color: #fff;
$h3_text_transform: normal;
